<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar/Editar Produto</title>
</head>
<body>
<h1 th:text="${produto.id == null ? 'Adicionar Produto' : 'Editar Produto'}"></h1>
<form th:action="@{/produtos/salvar}" th:object="${produto}" method="post">
    <label for="codigo">Código</label>
    <input type="text" id="codigo" th:field="*{codigo}" required/>

    <label for="nome">Nome</label>
    <input type="text" id="nome" th:field="*{nome}" required/>

    <label for="quantidade">Quantidade</label>
    <input type="number" id="quantidade" th:field="*{quantidade}" required/>

    <label for="precoUnitario">Preço Unitário</label>
    <input type="number" step="0.01" id="precoUnitario" th:field="*{precoUnitario}" required/>

    <button type="submit">Salvar</button>
</form>
</body>
</html>
